<div class="banner">
  <div class="container">
    <div class="row justify-content-center">
      <div style="width: 350px">
        <div>
          <h2 style="color: white" class = "pb-2 text-center">Find a training</h2>
          <%= form_tag courses_path, method: :get, class: 'mb-4' do |f| %>
            <%= select_tag 'search[category]', options_for_select(@categories, params.dig(:search, :category)), include_blank: "Any category", class: 'form-control mb-3' %>
            <%= select_tag 'search[city]', options_for_select(@cities, params.dig(:search, :city)), include_blank: "Any city", class: 'form-control mb-3' %>
            <%= text_field_tag 'search[date]', params.dig(:search, :date), class: 'form-control mb-3', placeholder: "Any date" %>
            <%= submit_tag "Search", class: "something btn btn-primary btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="how-it-works my-3">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <h2 class="pb-5">How it works</h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="image-container">
           <%= image_tag "HOW_1.gif", alt: "How_to_1", width: 200, height: 260 %>
         </div>
         <p class="step">1. Browse through personal trainers and their courses</p>
       </div>

       <div class="col-md-4 col-xs-12">
        <div class="image-container">
          <%= image_tag "HOW_2.gif", alt: "How_to_2", width: 200, height: 260 %>
        </div>
        <p class="step">2. Book your appointment</p>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="image-container">
          <%= image_tag "HOW_3.gif", alt: "How_to_3", width: 200, height: 260 %>
        </div>
        <p class="step">3. Get off the couch!</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class=how-it-works>
  <div class="row">
      <div class="col-md-12 col-xs-12">
        <h2>Some of our classes</h2>
      </div>
    </div>
    </div>
  <div class="course-type-cards">
    <a class="course-type-card-category" href='/courses?search[category]=Yoga' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1545389336-cf090694435e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80)">
      Yoga</a>
    <a class="course-type-card-category" href='/courses?search[category]=Running' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1513593771513-7b58b6c4af38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80)">
      Running</a>
      <a class="course-type-card-category" href='/courses?search[category]=Fitness' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1528304270437-714a2d6fbb6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80)">
      Fitness</a>
      <a class="course-type-card-category" href='/courses?search[category]=Kickboxing' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1501116518234-f32f28802bd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1896&q=80)">
      Kickboxing</a>
      <a class="course-type-card-category" href='/courses?search[category]=Spinning' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1554470166-20d3f466089b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3208&q=80)">
      Spinning</a>
      <a class="course-type-card-category" href='/courses?search[category]=Powerlifting' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1529688058915-efa36c307cf7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80)">
      Powerlifting</a>
  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="d-flex justify-content-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> fromcouch2coach.com</a>
  </div>
  <!-- Copyright -->

</footer>
