<% if policy(Course).create? %>
<div class="d-flex justify-content-between py-4">
  <h1>My courses</h1>
  <div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mr-4" data-toggle="modal" data-target="#addCourseModal">
      Add course
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="addCourseModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addCourseModalLabel">Add course</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% @course = Course.new %>
            <%= simple_form_for [@course] do |f| %>
            <%= f.input :name %>
            <%= f.input :category %>
            <%= f.input :description %>
            <%= f.input :address %>
            <%= f.input :city %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.submit "Save", class: "btn btn-primary"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% if policy(Course).list_trainer_courses? %>

  <% @courses.each do |course| %>

     <div class="card-product mb-4">
    <% if course.photo.present? %>
    <%= cl_image_tag course.photo, crop: :fill %>
    <% else  %>
    <%= image_tag "home_background.jpg" %>
        <% end %>
        <div class="card-product-infos">
          <p style="font-size: 18px"><strong>Course name: </strong><%= course.name.capitalize %></p>
          <p style="font-size: 18px"><strong>Category: </strong><%= course.category %></p>
        </div>
        <div class="pb-2">

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-link ml-1" data-toggle="modal" data-target="#editCourseModal<%=course.id%>">
            <i class="far fa-edit"></i>
          </button>

          <% if policy(Course).destroy? %>
              <%= link_to ('<i class="far fa-trash-alt"></i>').html_safe, course_path(course),
              method: :delete,
              class: 'btn btn-link',
                data: { confirm: "Are you sure?" } %>
          <% end %>

          <%= link_to course_timeslots_path(course), class: 'btn btn-link' do %>
          <i class="far fa-clock"></i>
          <% end %>
        </div>
      </div>
    </div>

    <% if policy(course).edit? %>
    <!-- Modal -->
      <div class="modal fade" id="editCourseModal<%=course.id%>" tabindex="-1" role="dialog" aria-labelledby="editCourseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editCourseModalLabel">Edit course</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for [course] do |f| %>
                <%= f.input :name %>
                <%= f.input :category %>
                <%= f.input :description %>
                <%= f.input :address %>
                <%= f.input :city %>
                <%= f.input :photo %>
                <%= f.input :photo_cache, as: :hidden %>
                <%= f.submit "Edit course", class: "btn btn-primary"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end # if policy(Course).edit? %>

  <% end # @courses.each %>

<% end # policy(Course).show? %>

<h1 class="pb-4">My appointments</h1>

<% @appointments.each do |appointment| %>
  <div style="background-color: white" class="p-3 mb-3">
    <p><strong>Date: </strong><%= appointment.timeslot.date %></p>
    <p><strong>Time: </strong><%= appointment.timeslot.time %></p>
  </div>
<% end %>
