<h1>Courses#edit</h1>
<p>Find me in app/views/courses/edit.html.erb</p>


<%= simple_form_for [@course] do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.submit "add a course"%>
<% end %>
