<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1556817411-31ae72fa3ea0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80)">
  <h1>Find a course</h1>
</div>

<p>
</p>
<div class="container">

<%= form_tag courses_path, method: :get, class: 'mb-4' do |f| %>
  <%= select_tag 'search[category]', options_for_select(@categories, params.dig(:search, :category)), include_blank: "Any category", class: 'form-control mb-3' %>
  <%= select_tag 'search[city]', options_for_select(@cities, params.dig(:search, :city)), include_blank: "Any city", class: 'form-control mb-3' %>
  <%= text_field_tag 'search[date]', params.dig(:search, :date), class: 'form-control mb-3' %>
  <%= submit_tag "Search", class: "something btn btn-primary" %>
<% end %>

<div class="row">
  <% if @courses.empty? %>
  <div class="pt-5">
    <p>Sorry, we don't have any <%= params[:category] %> courses available at the moment.
    <p>Check our other courses!</p>
  </div>
  <% else %>
    <% @courses.each do |course| %>
      <div class="col-4">
        <div class="card-trip">
          <img src="https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2294&q=80" />
          <div class="card-trip-infos">
            <h2><%= course.category %></h2>
            <h3><%= course.name %></h3>
           <%= link_to "", course_path(course), class: 'card-link' %>
         </div>
       </div>
     </div>
   <% end %>
 <% end %>
</div>
