<!--Format for the 5 star formatting-->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1567660444666-aed93ec8aa57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1780&q=80)">
  <h1><%= @course.name.capitalize %></h1>
</div>
<div class="container">

  <div class="d-flex justify-content-between py-5">
    <div>
      <div class="pb-4">
        Course: <%= @course.category.capitalize %>
      </div>
      <div class="pb-4">
        <h4>What will we do?</h4>
        <%= @course.description %>
      </div>
      <div>
        <h4>Where will we meet?</h4>
        <%= @course.address %>
      </div>
    </div>
    <div class="text-right">
      <div class="pb-3">
        <% unless @course.reviews.empty? %>
        <% total_stars = @course.reviews.map { |review| review.stars }   %>
        <% average_rating = total_stars.sum.to_i/total_stars.count %>
        <% counter = 0 %>
        <% 5.times do %>
        <i class="fa <%= average_rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
        <% counter += 1 %>
        <% end %>
        <% end %>
        (<%= Review.count %> reviews)
      </div>
      <div class="pb-3">
        [Price]
      </div>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Create new appointment
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Choose an appointment</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <% @appointment = Appointment.new %>
              <%= render "appointments/new", course: @course, appointment: @appointment %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-product mb-5">
  <img src="https://images.unsplash.com/photo-1544723795-3fb6469f5b39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=635&q=80" />
  <div class="card-product-infos">
    <h2>Teacher: [name]</h2>
    <p>[description]</p>
    <p>[city]</p>
  </div>
</div>

<div>
  <h4>All reviews</h4>
  <% if @course.reviews.empty? %>
  <p>Be the first to let a review</p>
  <% else %>
  <ul class="list-group">
    <% @course.reviews.each do |review| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= review.description %>
      <span class="badge badge-primary badge-pill">
        <% counter = 0 %>
        <% 5.times do %>
        <i class="fa <%= review.stars > counter ? 'fa-star' : 'fa-star-o' %>"></i>
        <% counter += 1 %>
        <% end %>
      </span>

    </li>
    <% end %>
  </ul>
  <% end %>
</div>
</div>

<% @review = Review.new %>
<%= render "reviews/new", course: @course, review: @review %>

<div class="availability-time-picker group-len-3">
  <section class="timeslot-groups">
    <ol><!-- ngRepeat: group in vm.groups -->
      <li class="timeslot-group ng-scope" ng-repeat="group in vm.groups">
        <header ng-class="::{'has-name': !!group.name}"><!-- ngIf: ::group.name -->
          <h1 class="group-date ng-binding">&nbsp;Saturday, November 16</h1></header>
          <ss-side-scroller class="timeslot-list ng-isolate-scope" scroll-offset="125" disable-gradients="true">
            <div class="ss-side-scroller enabled disable-gradients" ng-class="{     'enabled': isEnabled(),     'disabled': !isEnabled(),     'can-scroll-left': canScrollLeft,     'can-scroll-right': canScrollRight,     'disable-gradients': disableGradients }" ng-click="contentClickHandler($event)">
              <button class="scroll-arrow arrow-left" ng-click="pageLeft($event)"></button>
              <div class="ss-scroller-content" ng-transclude="ng-transclude">
                <ol class="ng-scope"><!-- ngRepeat: timeslot in ::group.slots -->
                  <li ng-repeat="timeslot in ::group.slots" class="ng-scope">
                    <button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">3:45 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                    <li ng-repeat="timeslot in ::group.slots" class="ng-scope">
                      <button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">4:00 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                      <li ng-repeat="timeslot in ::group.slots" class="ng-scope">
                        <button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">4:15 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots --></ol></div>
                        <button class="scroll-arrow arrow-right" ng-click="pageRight($event)"></button></div></ss-side-scroller></li><!-- end ngRepeat: group in vm.groups -->
                        <li class="timeslot-group ng-scope" ng-repeat="group in vm.groups">
                          <header ng-class="::{'has-name': !!group.name}"><!-- ngIf: ::group.name -->
                            <h1 class="group-date ng-binding">&nbsp;Thursday, November 21</h1></header>
                            <ss-side-scroller class="timeslot-list ng-isolate-scope" scroll-offset="125" disable-gradients="true">
                              <div class="ss-side-scroller enabled disable-gradients can-scroll-right" ng-class="{     'enabled': isEnabled(),     'disabled': !isEnabled(),     'can-scroll-left': canScrollLeft,     'can-scroll-right': canScrollRight,     'disable-gradients': disableGradients }" ng-click="contentClickHandler($event)" style="">
                                <button class="scroll-arrow arrow-left" ng-click="pageLeft($event)"></button><div class="ss-scroller-content" ng-transclude="ng-transclude">
                                  <ol class="ng-scope"><!-- ngRepeat: timeslot in ::group.slots -->
                                    <li ng-repeat="timeslot in ::group.slots" class="ng-scope">
                                      <button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">11:45 AM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                      <li ng-repeat="timeslot in ::group.slots" class="ng-scope">
                                        <button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">12:00 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                        <li ng-repeat="timeslot in ::group.slots" class="ng-scope">
                                          <button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">12:15 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                          <li ng-repeat="timeslot in ::group.slots" class="ng-scope">
                                            <button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">12:30 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                            <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">12:45 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                            <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">2:45 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                            <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">3:00 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                            <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">3:15 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                            <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">3:30 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                            <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">3:45 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                            <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">4:00 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                            <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">4:15 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                            <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">4:30 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                            <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">4:45 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                            <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">5:00 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                            <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">5:15 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                            <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">5:30 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                            <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">5:45 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots --></ol></div>
                                            <button class="scroll-arrow arrow-right" ng-click="pageRight($event)"></button></div></ss-side-scroller></li><!-- end ngRepeat: group in vm.groups -->
                                            <li class="timeslot-group ng-scope" ng-repeat="group in vm.groups">
                                              <header ng-class="::{'has-name': !!group.name}"><!-- ngIf: ::group.name -->
                                                <h1 class="group-date ng-binding">&nbsp;Friday, November 22</h1></header>
                                                <ss-side-scroller class="timeslot-list ng-isolate-scope" scroll-offset="125" disable-gradients="true">
                                                  <div class="ss-side-scroller enabled disable-gradients can-scroll-right" ng-class="{     'enabled': isEnabled(),     'disabled': !isEnabled(),     'can-scroll-left': canScrollLeft,     'can-scroll-right': canScrollRight,     'disable-gradients': disableGradients }" ng-click="contentClickHandler($event)" style="">
                                                    <button class="scroll-arrow arrow-left" ng-click="pageLeft($event)"></button>
                                                    <div class="ss-scroller-content" ng-transclude="ng-transclude">
                                                      <ol class="ng-scope"><!-- ngRepeat: timeslot in ::group.slots -->
                                                        <li ng-repeat="timeslot in ::group.slots" class="ng-scope">
                                                          <button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">10:00 AM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                                          <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">10:15 AM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                                          <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">10:30 AM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                                          <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">10:45 AM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                                          <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">11:00 AM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                                          <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">11:15 AM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                                          <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">11:30 AM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                                          <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">11:45 AM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                                          <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">4:00 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                                          <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">4:15 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                                          <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">4:30 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                                          <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">4:45 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                                          <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">5:00 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                                          <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">5:15 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                                          <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">5:30 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots -->
                                                          <li ng-repeat="timeslot in ::group.slots" class="ng-scope"><button class="timeslot ss-button medium primary ng-binding" ng-click="vm.selectTimeslot(group, timeslot)">5:45 PM</button></li><!-- end ngRepeat: timeslot in ::group.slots --></ol></div>
                                                          <button class="scroll-arrow arrow-right" ng-click="pageRight($event)"></button></div></ss-side-scroller></li><!-- end ngRepeat: group in vm.groups --></ol></section></div>



</div>




